<template>
    <div>
        <v-breadcrumbs :items="[
            { text: 'Dashboard', to: '/' },
            { text: 'Feedback' },
        ]"></v-breadcrumbs>
        <header>
            <h1>We value your feedback.</h1>
        </header>
        <section>
            <v-textarea label="Tell us what you think." outlined v-model="content"></v-textarea>
            <v-btn @click="submit" color="primary">
                <v-icon class="mr-2">mdi-chevron-right</v-icon>
                Send
            </v-btn>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            content: '',
        }
    },
    methods: {
        async submit() {
            const { content, $query, $router } = this
            if (!content || (content && content.length < 1)) return
            const query = /* GraphQL */ `mutation submitFeedback($content: String!) {
                submitFeedback(content: $content) {
                    id
                    content
                }
            }`
            await $query(query, { content })
            this.$notify('Thank you so much for your feed back. We will get back to you soon.')
            $router.push('/')
        },
    },
}
</script>