<template>
    <div>
        <v-breadcrumbs :items="[
            { text: 'Dashboard', to: '/' },
            { text: 'Help Center' },
        ]"></v-breadcrumbs>
        <header>
            <h1>Help Center</h1>
        </header>
    </div>
</template>