<template>
    <div>
        <v-breadcrumbs :items="[
            { text: 'Dashboard', to: '/' },
            { text: 'Settings' },
        ]"></v-breadcrumbs>
        <h1>Your Settings</h1>
        <v-form @submit.prevent="update">
            <v-row justify="center">
                <v-col cols="12" md="5">
                    <v-text-field disabled label="Email" v-model="user.email"></v-text-field>
                </v-col>
                <v-col cols="12" md="5">
                    <v-text-field label="Name" v-model="user.name"></v-text-field>
                </v-col>
            </v-row>
            <v-btn type="submit" color="primary">Save</v-btn>
        </v-form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {
                id: null,
                name: null,
                email: null
            }
        }
    },
    mounted() {
        const { $user } = this
        this.user.name = $user.name
        this.user.email = $user.email
        this.user.id = $user.id
    },
    methods: {
        update() {
            const { id, name } = this.user
            const query = `mutation updateSelf($id: ID!, $name: String!){
                updateUser(id: $id, name: $name) {
                    id
                    name
                }
            }`
            this.$query(query, { id, name })
                .then(() => {
                    this.$notify("Successfully updated")
                })
        }
    }
}
</script>