<template>
    <v-row class="justify-center">
        <v-col cols="10">
            <v-alert type="success">Successfully finished {{$root.survey.name}}</v-alert>
        </v-col>
        <v-col v-if="markedAsFinished" cols="12" class="text-center">
            <a href="/app">
                <v-btn color="primary">
                    <v-icon>mdi-home</v-icon>
                    Back To Dashboard
                </v-btn>
            </a>
        </v-col>
    </v-row>
</template>

<script>
export default {
    data() {
        return {
            markedAsFinished: false,
        }
    },
    async mounted() {
        const query = /* GraphQL */`mutation markSurveyAsFinished($surveyId: ID!) {
            markSurveyAsFinished(surveyId: $surveyId) {
                id
            }
        }`;
        const vars = {
            surveyId: this.$root.survey.id
        }
        await this.$query(query, vars)
        this.markedAsFinished = true
    }
}
</script>