<template>
    <div>
        <v-row class="justify-center">
            <v-col cols="12" md="8">
                <v-card>
                    <v-card-title>
                        Survey: {{$root.survey.name}}
                    </v-card-title>
                    <v-card-text>
                        This survey has {{$root.survey.sections.length}} section{{$root.survey.sections.length > 1 ? 's' : ''}}:
                        <ol>
                            <li v-for="section in $root.survey.sections" :key="section.id">
                                {{section.name}}
                            </li>
                        </ol>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn :to="`/section/1`" color="primary">
                            Take Survey
                            <v-icon>mdi-chevron-right</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    
    mounted() {
        console.log(this)
    }

}
</script>
