<template>
    <div>
        <div v-if="question">
            {{$route.params.question}}). {{question.question}}
            <v-radio-group
                v-if="question.use_checkbox"
                v-model="answer">
                <v-radio
                    v-for="option in section.options"
                    :key="option.id"
                    :value="option.id"
                    :label="option.option"
                ></v-radio>
            </v-radio-group>
            <v-textarea v-else label="Answer" v-model="answer"></v-textarea>
            <v-btn :to="backLink" v-if="$route.params.question > 1" color="warning">
                <v-icon>mdi-chevron-left</v-icon>
                Back
            </v-btn>
            <v-btn :loading="loading" @click="submit" color="primary" v-if="answer">
                Next
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'section',
    ],
    data() {
        return {
            answer: null,
            loading: false,
        }
    },
    watch: {
        $route() {
            this.answer = null
            this.checkQuestionIndex()
        },
    },
    computed: {
        question() {
            return this.section.questions[this.$route.params.question - 1] || null
        },
        backLink() {
            const { $route } = this
            return {
                name: 'show-question',
                params: {
                    section: $route.params.section,
                    question: parseInt($route.params.question) - 1
                },
            }
        }
    },
    mounted() {
        this.checkQuestionIndex()
    },
    methods: {
        checkQuestionIndex() {
            const { $route, section, $router } = this
            if (parseInt($route.params.question) > section.questions.length) {
                $router.push({
                    name: 'show-section',
                    params: {
                        section: parseInt($route.params.section) + 1
                    }
                })
            }
        },
        async submit() {
            const { $router, $route, answer, question, section } = this
            if (!answer) return
            this.loading = true;
            const query = /* GraphQL */ `mutation answerSurvey($questionId: ID!, $optionId: ID, $manualInput: String, $surveyId: ID!) {
                answerSurvey(input: { questionId: $questionId, optionId: $optionId, surveyId: $surveyId, manualInput: $manualInput }) {
                    id
                }
            }`;
            const variables = {
                questionId: parseInt(question.id),
                surveyId: parseInt(section.survey_id)
            };
            if (question.use_checkbox) {
                variables.optionId = parseInt(answer);
            } else {
                variables.manualInput = answer;
            }
            await this.$query(query, variables);
            $router.push({
                name: 'show-question',
                params: {
                    section: $route.params.section,
                    question: parseInt($route.params.question) + 1
                },
            })
            this.loading = false;
        },
    }
}
</script>