<template>
    <v-row class="justify-center">
        <v-col v-if="section" cols="12" md="10">
            <v-card class="mt-12">
                <v-card-title>
                    {{$root.survey.name}} <v-icon size="sm">mdi-chevron-right</v-icon> Section {{$route.params.section}}
                </v-card-title>
                <v-card-subtitle>{{section.name}}</v-card-subtitle>
                <template v-if="!$route.params.question">
                    <v-card-text>
                        {{section.description}}
                    </v-card-text>
                    <v-card-actions>
                        <v-btn :to="{ name: 'show-question', params: { section: $route.params.section, question: 1} }" color="primary">
                            Continue
                            <v-icon>mdi-chevron-right</v-icon>
                        </v-btn>
                    </v-card-actions>
                </template>
                <v-card-text v-else-if="$route.params.question">
                    <router-view :section="section"></router-view>
                </v-card-text>
                <v-progress-linear :value="progress"></v-progress-linear>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
    data() {
        return {
            question: false,
        }
    },
    computed: {
        section() {
            const {$root, $route } = this
            return $root.survey.sections[$route.params.section - 1] || null
        },
        progress() {
            const { $route, section } = this
            return ((($route.params.question || 0) - 1) / section.questions.length) * 100
        }
    },
    watch: {
        $route() {
            this.checkSectionIndex()
        }
    },
    update() {
        this.forwardIfNoDescription();
    },
    mounted() {
        this.checkSectionIndex();
        this.forwardIfNoDescription()
    },
    methods: {
        forwardIfNoDescription() {
            if (this.section.description == null) {
                this.$router.push({
                    name: 'show-question',
                    params: {
                        section: this.$route.params.section,
                        question: 1
                    },
                });
            }
        },
        checkSectionIndex() {
            const { $route, $root, $router } = this
            if (parseInt($route.params.section) > $root.survey.sections.length) {
                $router.push('/confirm');
            }
        }
    },
}
</script>