<template>
    <div>
        <router-view></router-view>        <v-breadcrumbs :items="[
            {
                text: 'Dashboard',
                to: '/'
            },
            {
                text: 'Surveys'
            }
        ]"></v-breadcrumbs>
        <header>
            <v-toolbar flat>
                <v-toolbar-title>
                    <h1>Surveys</h1>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn to="/surveys/send" text v-if="$user.canTriggerSurveys()">
                        Send a survey to your organization
                        <v-icon class="ml-2">mdi-share</v-icon>
                    </v-btn>
                    <v-btn to="/surveys/reports" text v-if="$user.canViewReports()">
                        View Reports
                        <v-icon class="ml-2">mdi-chart-areaspline</v-icon>
                    </v-btn>
                    <v-btn to="/surveys/schedule" text v-if="$user.canScheduleSurveys()">
                        Schedule Surveys
                        <v-icon class="ml-2">mdi-clock</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </header>
        <section class="mt-4" v-if="surveys.length">
            <h2>Pending Surveys</h2>
            <v-card class="mt-2" v-for="survey in surveys" :key="survey.id">
                <v-card-title>
                    {{survey.name}}
                </v-card-title>
                <v-card-actions>
                    <v-btn :href="`/take-survey/${survey.id}`" color="primary">Take Survey</v-btn>
                </v-card-actions>
            </v-card>
        </section>
        <section class="mt-4" v-if="takenSurveys && takenSurveys.length">
            <h2>Taken Surveys</h2>
            <v-rowl>
                <v-col cols="4" xs="6" v-for="{ survey } in takenSurveys" :key="survey.id">
                    <v-card class="mt-2">
                        <v-card-title>
                            {{survey.name}}
                        </v-card-title>
                    </v-card>
                </v-col>
            </v-rowl>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            surveys: [],
            takenSurveys: null
        }
    },
    mounted() {
        this.fetchSurveys();
    },
    methods: {
        async fetchSurveys() {
            const query = /* GraphQL */`query pendingSurveys {
                pendingSurveys {
                    id
                    name
                }
                takenSurveys(limit: 8) {
                    survey {
                        id
                        name
                    }
                }
            }`
            const { pendingSurveys, takenSurveys } = await this.$query(query);
            this.surveys = pendingSurveys
            this.takenSurveys = takenSurveys
        }
    },
}
</script>