<template>
    <div>
        <v-breadcrumbs :items="[
            {
                text: 'Dashboard',
                to: '/'
            },
            {
                text: 'Surveys',
                exact: true,
                to: '/surveys'
            },
            {
                text: 'Reports'
            }
        ]"></v-breadcrumbs>
        <router-view></router-view>
        <v-toolbar flat>
            <v-toolbar-title>
                <h1>
                    Survey Reports
                </h1>
            </v-toolbar-title>
        </v-toolbar>
        <section>
            <v-row>
                <v-col cols="4" v-if="sentSurveysCount != null">
                    <v-card>
                        <v-card-title>
                            Sent Surveys: {{sentSurveysCount}}
                        </v-card-title>
                        <v-card-text>
                            The total survey that have been seent to employees in your organization.
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="4" v-if="takenSurveysCount != null">
                    <v-card>
                        <v-card-title>
                            Taken Surveys: {{ takenSurveysCount }}
                        </v-card-title>
                        <v-card-text>
                            The surveys that have been taken by employees in your organization.
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="4" v-if="inProgressSurveysCount != null">
                    <v-card>
                        <v-card-title>
                            Surveys in Progress: {{ inProgressSurveysCount }}
                        </v-card-title>
                        <v-card-text>
                            The surveys that have been started, but not finished.
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            sentSurveysCount: null,
            takenSurveysCount: null,
            inProgressSurveysCount: null,
        }
    },
    async mounted() {
        const { sentSurveysCount, takenSurveysCount, inProgressSurveysCount } = await this.$query(/* GraphQL */`query initializeReport {
            sentSurveysCount
            takenSurveysCount
            inProgressSurveysCount
        }`)
        this.sentSurveysCount = sentSurveysCount
        this.takenSurveysCount = takenSurveysCount
        this.inProgressSurveysCount = inProgressSurveysCount
    },
}
</script>