<template>
        <div>
            <v-breadcrumbs :items="[
                {
                    text: 'Dashboard',
                    to: '/'
                },
                {
                    text: 'Surveys',
                    exact: true,
                    to: '/surveys'
                },
                {
                    text: 'Schedule'
                }
            ]"></v-breadcrumbs>
            <v-toolbar flat>
                <v-toolbar-title>
                    <h1>
                        Survey Schedules
                    </h1>
                    <p>Here is where you can configure how often some surveys are sent to members of your organization.</p>
                </v-toolbar-title>
            </v-toolbar>
            <section>
                <section>
                    <header>
                        <h2>Your current survey schedule</h2>
                    </header>
                    <v-row>
                        <v-col>
                            <FrequencyList
                                frequency="Yearly"
                                :surveys="getSurveysInSchedule('Yearly')"
                                @adding="addSurveyToSchedule('Yearly')"
                                @remove="removeSurveyFromFrequency"
                            />
                        </v-col>
                        <v-col>
                            <FrequencyList
                                frequency="Semiyearly"
                                :surveys="getSurveysInSchedule('Semiyearly')"
                                @adding="addSurveyToSchedule('Semiyearly')"
                                @remove="removeSurveyFromFrequency"
                            />
                        </v-col>
                        <v-col>
                            <FrequencyList
                                frequency="Quarterly"
                                :surveys="getSurveysInSchedule('Quarterly')"
                                @adding="addSurveyToSchedule('Quarterly')"
                                @remove="removeSurveyFromFrequency"
                            />
                        </v-col>
                    </v-row>
                </section>
            </section>
            <v-dialog v-model="newSurveySchedule.showing" scrollable>
                <v-card>
                    <v-toolbar flat>
                        <v-toolbar-title>Adding a new <i>{{newSurveySchedule.frequency.name}}</i> survey.</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="newSurveySchedule.showing = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <SurveyPreview
                            v-for="availableSurvey in availableSurveys"
                            :key="availableSurvey.id"
                            :survey="availableSurvey"
                            :cta-text="`Schedule ${availableSurvey.name} to be sent ${newSurveySchedule.frequency.name}`"
                            @selected="scheduleSurvey(availableSurvey)"
                        />
                    </v-card-text>
                </v-card>
            </v-dialog>
        </div>
</template>

<script>
import SurveyPreview from '../../components/SurveyPreview'
import FrequencyList from '../../components/FrequencyList'

const surveyScheduleData = {
    showing: false,
    frequency: {},
}

export default {
    components: {
        SurveyPreview,
    },
    data() {
        return {
            newSurveySchedule: {
                ...surveyScheduleData
            },
            currentSchedule: [],
            availableSurveyFrequencies: [],
            availableSurveys: [],
        }
    },
    async mounted() {
        const query = /* GraphQL */`query availableSurveys {
            currentSchedule {
                survey {
                    id
                    name
                    sections {
                        name
                        description
                    }
                }
                frequency {
                    name
                }
            }
            availableSurveyFrequencies {
                id
                name
            }
            availableSurveys {
                id
                name
                sections {
                    id
                    name
                    description
                }
            }
        }`
        const { currentSchedule, availableSurveyFrequencies, availableSurveys } = await this.$query(query);
        this.currentSchedule = currentSchedule
        this.availableSurveys = availableSurveys
        this.availableSurveyFrequencies = availableSurveyFrequencies
    },
    methods: {
        addSurveyToSchedule(frequency) {
            this.newSurveySchedule.showing = true
            this.newSurveySchedule.frequency = this.availableSurveyFrequencies
                .find(f => f.name.toLowerCase() == frequency.toLowerCase())
        },
        getSurveysInSchedule(frequency) {
            return this.currentSchedule
                .filter(row => row.frequency.name.toLowerCase() == frequency.toLowerCase())
                .map(row => row.survey)
        },
        async removeSurveyFromFrequency({ survey, frequency }) {
            const query = /* GraphQL */`mutation removeSurveySchedule($surveyId: ID!, $frequencyId: ID!) {
                removeSurveySchedule(surveyId: $surveyId, frequencyId: $frequencyId)
            }`
            const args = {
                surveyId: survey.id,
                frequencyId: this.availableSurveyFrequencies.find(f => f.name.toLowerCase() == frequency.toLowerCase()).id
            }
            await this.$query(query, args)
            await this.getCurrentSchedule()
            this.$notify(`${survey.name} was removed from ${frequency} schedule.`);
        },
        async scheduleSurvey(survey) {
            const query = /* GraphQL */`mutation createScheduleSurvey($surveyId: ID!, $frequencyId: ID!) {
                createScheduleSurvey(input: { surveyId: $surveyId, frequencyId: $frequencyId }) {
                    id
                }
            }`
            const args = {
                surveyId: survey.id,
                frequencyId: this.newSurveySchedule.frequency.id,
            }
            await this.$query(query, args)
            this.$notify(`${survey.name} was scheduled to be sent to all employees ${this.newSurveySchedule.frequency.name}.`)
            this.newSurveySchedule = {
                ...surveyScheduleData
            }
            this.getCurrentSchedule()
        },
        async getCurrentSchedule() {
            const query = /* GraphQL */`query getCurrentSchedule {
                currentSchedule {
                    survey {
                        id
                        name
                        sections {
                            name
                            description
                        }
                    }
                    frequency {
                        name
                    }
                }
            }`
            const { currentSchedule } = await this.$query(query);
            this.currentSchedule = currentSchedule
        }
    },
}
</script>