<template>
    <v-dialog :value="true" persistent scrollable>
        <v-card>
            <v-card-title>
                Select a survey to send.
                <v-spacer></v-spacer>
                <v-btn exact to="/surveys" icon>
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text v-if="loading">
                Loading available surveys...
            </v-card-text>
            <v-card-text v-else>
                <SurveyPreview v-for="survey in surveys" :key="survey.id" :survey="survey" @selected="sendSurveyToOrganization(survey.id)" cta-text="Send survey to organization" />
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import SurveyPreview from '../../components/SurveyPreview'

export default {
    components: {
        SurveyPreview,
    },
    data() {
        return {
            loading: true,
            surveys: [],
        }
    },
    async mounted() {
        const query = /* GraphQL */`query availableSurveys {
            availableSurveys {
                id
                name
                sections {
                    id
                    name
                    description
                }
            }
        }`
        const { availableSurveys } = await this.$query(query);
        this.surveys = availableSurveys
        this.loading = false
    },
    methods: {
        async sendSurveyToOrganization(surveyId) {
            const query = /* GraphQL */ `mutation sendSurveyToOrganization($surveyId: ID!) {
                sendSurveyToOrganization(surveyId: $surveyId) {
                    id
                }
            }`
            const variables = { surveyId }
            await this.$query(query, variables);
            this.$notify('Survey has been sent.');
            this.$router.push('/surveys')
        }
    }
}
</script>