[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
}

input.bare, select.bare {
    padding: 4px;
    border: solid 1px grey;
    border-radius: 4px;
}

#page--welcome {
    header#welcome {
        text-align: center;
        padding: 20px 0 20px 0;

        h2 {
            margin-top: 10px;
        }
    }

    section#features {
        margin: 20px 0 20px 0;
    
        h2 {
            text-align: center;
            padding: 20px 0 20px 0;
        }
    
        li {
            display: flex;
            flex-wrap: wrap;
            height: 200px;
            align-items: center;

            .img {
                height: 90%;
                background-position: center;
                background-size: cover;
            }
        
            div {
                width: 50%;
                padding: 10px;
                margin-top: 10px;
            }
        
            @media screen and (max-width: "700px") {
                div {
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: "700px") {
            li {
                height: auto;

                .img {
                    height: 200px;
                }
            }
        }
    }
}