<template>
    <v-dialog :value="true" persistent width="400px">
        <v-card>
            <v-toolbar flat>
                <v-toolbar-title>Invite an employee</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn exact to="/employees" icon>
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <p>
                    Insert the email of the employee to add.
                    We will send instructions to the employee to set up their account.
                </p>
                <p>
                    Or <v-btn text small color="primary" to="/employees/upload">
                        <v-icon small>mdi-upload</v-icon>
                        bulk upload
                    </v-btn> a CSV file.
                </p>
            </v-card-text>
            <v-form ref="form" @submit.prevent="invite">
                <v-card-text>
                        <v-text-field :rules="emailRules" label="Email" v-model="email"></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn type="submit" color="success" block>Send Login instructions</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            email: null,
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
        }
    },
    methods: {
        invite() {
            const query = `
                mutation createOrganizationInvite($email: Email!) {
                    createOrganizationInvite(email: $email) {
                        id
                    }
                }
            `;
            if (!(this.$refs.form && this.$refs.form.validate())) {
                return;
            }
            this.$query(query, {
                    email: this.email,
                    organization_id: this.$user.organization.id
                })
                .then(() => {
                    this.$notify("User invited!");
                    this.$router.push('/employees/invites')
                })
        }
    }
}
</script>