<template>
    <div>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <h1>Pending Invites</h1>
        <ul v-if="invites.length">
            <li v-for="invite in invites" :key="invite.id">
                {{invite.email}}
                <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-on="on" v-bins="attrs" @click="deleteInvite(invite.id)" x-small icon color="error">
                            <v-icon>mdi-delete-forever</v-icon>
                        </v-btn>
                    </template>
                    <span>Delete invite.</span>
                </v-tooltip>
                <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="resendInvite(invite.id)" x-small icon color="info">
                            <v-icon>mdi-reload</v-icon>
                        </v-btn>
                    </template>
                    <span>Re-Send invite link.</span>
                </v-tooltip>
            </li>
        </ul>
        <template v-else-if="!loading">
            No pending invites.
            <v-btn to="/employees/invite" text color="primary">
                <v-icon>mdi-plus</v-icon> invite employees
            </v-btn>
        </template>
    </div>
</template>

<script>
export default {
    data() {
        return {
            invites: [],
            loading: true,
        }
    },
    computed: {
        breadcrumbs() {
            return [
                { text: 'Dashboard', to: '/' },
                { text: 'Employees', exact: true, to: '/employees' },
                { text: 'Invites' },
            ]
        }
    },
    mounted() {
        this.load()
    },
    methods: {
        async load() {
            const res = await this.$query(`{
                current {
                    organization {
                        invites {
                            data {
                                id
                                email
                            }
                        }
                    }
                }
            }`)
            this.invites = res.current.organization.invites.data
            this.loading = false
        },
        deleteInvite(id) {
            const query = `mutation deleteOrganizationInvite($id: ID!) {
                deleteOrganizationInvite(id: $id) {
                    id
                }
            }`
            this.$query(query, { id }).then(() => {
                this.$notify("Invitation revoked");
                this.load()
            })
        },
        resendInvite(id) {
            const query = `mutation resendOrganizationInvite($id: ID!) {
                resendOrganizationInvite(id: $id) {
                    id
                }
            }`
            this.$query(query, { id }).then(() => {
                this.$notify("Invitation sent.");
            })
        }
    }
}
</script>