<template>
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-app-bar-nav-icon v-if="$user.isLoggedIn()" @click.stop="$root.drawer = !$root.drawer"></v-app-bar-nav-icon>
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down" v-if="$user.isLoggedIn()">
          {{$user.organization.name}}
        </span>
      </v-toolbar-title>
      <template v-if="$user.isLoggedIn()">
        <MasterSearch />
        <v-spacer></v-spacer>
        <v-btn icon to="/">
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn icon to="/notifications">
          <v-icon>mdi-bell</v-icon>
        </v-btn>
        <v-btn text large to="/profile">
          <v-icon class="mr-2">
            {{$user.isAdmin() ? 'mdi-shield-account' : 'mdi-account-circle-outline'}}
          </v-icon>
          {{$user.name}}
        </v-btn>
      </template>
      <template v-else>
        <v-spacer></v-spacer>
        <a href="/login">
          <v-btn text small>
            Log In
          </v-btn>
        </a>
        <a href="/register">
          <v-btn text small>
            Register
          </v-btn>
        </a>
      </template>
    </v-app-bar>
</template>
