<template>
    <v-autocomplete
        :search-input.sync="term"
        v-model="selected"
        flat ref="input"
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        auto-select-first
        label="Search" :items="options"
        item-text="text"
        item-value="value"
        class="hidden-sm-and-down"
        @focus="fetch('')"
    ></v-autocomplete>
</template>

<script>
export default {
    data() {
        return {
            term: null,
            selected: null,
            options: []
        }
    },
    watch: {
        term(term) {
            this.fetch(term)
        },
        selected(selected) {
            this.term = null
            this.selected = null
            this.options = []
            this.$refs.input.blur()
            this.$router.push(selected)
        },
    },
    methods: {
        fetch(term) {
            const query = `query search($term: String) {
                searchQuery(term: $term) {
                    text
                    value
                }
            }`
            this.$query(query, { term, }).then(res => {
                this.options = res.searchQuery
            })
        }
    }
}
</script>