<template>
    <v-dialog :value="true" persistent width="400px">
        <v-card v-if="user">
            <v-toolbar flat>
                Are you sure you want to delete {{user.name}}?
            </v-toolbar>
            <v-card-text>
                {{user.name}} will no longer be able to log in to their account and will no longer
                be included in surveys after they have been deleted.
            </v-card-text>
            <v-card-actions>
                <v-btn @click="remove" color="warning">Yes, delete this user</v-btn>
                <v-btn :to="$route.query.backTo || `/employees/${$route.params.user}`" color="primary">Cancel</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: [
        'user',
    ],
    updated() {
        if (this.user.id == this.$user.id) {
            this.$router.push('/employees')
        }
    },
    methods: {
        remove() {
            const query = `mutation deleteUser($id: ID!){
                deleteUser(id: $id) {
                    id
                }
            }`
            this.$query(query, { id: this.user.id })
                .then(() => {
                    this.$notify("User removed.")
                    this.$router.push('/employees')
                })
        }
    }
}
</script>