<template>
    <div>
        <router-view></router-view>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <div class="d-flex align-center">
            <h1>Employees</h1>
            <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs}">
                    <v-btn v-on="on" v-bind="attrs" to="/employees/invite" color="primary" class="ml-4" icon>
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </template>
                <span>Invite an employee</span>
            </v-tooltip>
            <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs}">
                    <v-btn v-bind="attrs" v-on="on" to="/employees/upload" color="primary" class="ml-4" icon>
                        <v-icon>mdi-upload</v-icon>
                    </v-btn>
                </template>
                <span>Upload a CSV with employee emails.</span>
            </v-tooltip>
        </div>
        <v-btn text to="/employees/invites">
            <v-icon class="mr-2" small >mdi-format-list-bulleted</v-icon>
            See pending invites
        </v-btn>
        <v-data-table v-if="users" dense
            :options.sync="tableOptions"
            :headers="tableHeaders"
            :server-items-length="pagination.total"
            :footer-props="tableFooter"
            :loading="loading"
            disable-sort
            :items="users">
            <template v-slot:item.role="{ item }">
                {{item.role.name}}
            </template>
            <template v-slot:item.actions="{ item }">
                <v-btn x-small :to="`/employees/${item.id}`" icon>
                    <v-icon>
                        mdi-eye
                    </v-icon>
                </v-btn>
                <v-btn v-if="item.id != $user.id" x-small color="error" :to="`/employees/${item.id}/delete?backTo=/employees`" icon>
                    <v-icon>
                        mdi-delete
                    </v-icon>
                </v-btn>
            </template>
        </v-data-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: [],
            tableOptions: {},
            pagination: {
                total: 0,
                lastPage: 1
            },
            tableFooter: {
                itemsPerPageOptions: [10],
            },
            loading: false,
            total: 100,
            mounted: false,
        }
    },
    computed: {
        breadcrumbs() {
            return [
                { text: 'Dashboard', to: '/' },
                { text: 'Employees' },
            ]
        },
        tableHeaders() {
            return [
                { text: 'Actions', value: 'actions', sortable: false },
                { text: 'Name', value: 'name' },
                { text: 'Email', value: 'email' },
                { text: 'Role', value: 'role' },
            ]
        },
    },
    watch: {
        tableOptions: {
            handler() {
                const { $router, $route, tableOptions, mounted } = this;
                if (!mounted) return
                if ($route.query.page == tableOptions.page) return
                $router.push({
                    query: {
                        page:  tableOptions.page
                    }
                })
            },
            deep: true,
        },
        $route: {
            handler() {
                this.fetch()
            },
            deep: true,
        }
    },
    mounted() {
        this.tableOptions.page = this.$route.query.page || 1;
        this.$nextTick(() => {
            this.fetch();
            this.mounted = true
        })
    },
    methods: {
        async fetch() {
            this.loading = true;
            const { $router, $route } = this
            const { page } = $route.query;
            if (page == 1) {
                $router.push({
                    query: null
                })
                return
            }
            const query = `query getUsers($page: Int!) {
                current {
                    organization {
                        users(page: $page) {
                            paginatorInfo {
                                total
                                lastPage
                            }
                            data {
                                id
                                name
                                email
                                role {
                                    name
                                }
                            }
                        }
                    }
                }
            }`
            const res = (await this.$query(query, { page: page || 1 }))
            const { data, paginatorInfo } = res.current.organization.users
            if (page > paginatorInfo.lastPage) {
                $router.push({
                    query: {
                        page: paginatorInfo.lastPage
                    }
                })
                return
            }
            this.pagination = paginatorInfo
            this.users = data
            this.loading = false
        }
    },
}
</script>