<template>
    <div>
        <router-view :user="user"></router-view>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
        <div v-if="user.id">
            <div class="d-flex align-center">
                <h1>
                    <v-btn to="/settings" v-if="user.id == $user.id" icon>
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    {{user.name}} ({{user.role.name}})
                </h1>
                <v-btn v-if="user.id != $user.id" class="ml-4" color="error" :to="`/employees/${user.id}/delete`" icon>
                    <v-icon>
                        mdi-delete
                    </v-icon>
                </v-btn>
            </div>
            <h2>
                {{user.email}}
            </h2>
            <v-select
                @input="updateRole"
                v-model="user.role.id"
                style="width: 200px"
                :items="roles"
                label="Edit Role"
                outlined
                item-text="name"
                item-value="id"
            ></v-select>
        </div>
        <div v-else>
            User not found...
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {
                role: {
                    id: null
                }
            },
            roles: []
        }
    },
    computed: {
        breadcrumbs() {
            return [
                {
                    text: 'Dashboard',
                    to: '/',
                },
                {
                    text: 'Employees',
                    exact: true,
                    disabled: false,
                    to: '/employees',
                },
                {
                    text: this.user ? this.user.name : '',
                    to: ''
                },
            ]
        }
    },
    async mounted() {
        this.fetch()
    },
    watch: {
        $route() {
            this.fetch()
        }
    },
    methods: {
        async fetch() {
            const id = this.$route.params.user
            const { user, current } = await this.$query(`query showUser($id: ID!) {
                current {
                    organization {
                        roles {
                            id
                            name
                        }
                    }
                }
                user(id: $id) {
                    id
                    name
                    email
                    role {
                        id
                        name
                    }
                }
            }`, { id })
            this.user = user
            this.roles = current.organization.roles
        },
        updateRole() {
            const query = `mutation assignRoleToUser($user_id: ID!, $role_id: ID!) {
                assignRoleToUser(user_id: $user_id, role_id: $role_id) {
                    role {
                        name
                    }
                }
            }`
            this.$query(query, { user_id: this.user.id, role_id: this.user.role.id })
                .then(res => this.$notify(`${this.user.name} has been changed to ${res.assignRoleToUser.role.name}`))
        }
    }
}
</script>