<template>
    <v-dialog persistent :value="true" width="700px">
        <v-card>
            <v-toolbar flat>
                <v-toolbar-title>Upload Employees</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn exact to="/employees" icon>
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="align-baseline">
                Upload a CSV file with an `email` header.
                An email with signup instructions will be sent to each email
                address after the file is uploaded and processed.
            </v-card-text>
            <form @submit="loading = true" action="/upload-employees-csv" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="_token" :value="$csrf">
                <v-card-text>
                    <v-file-input required name="file" label="Select a CSV to upload" acccept=".csv"></v-file-input>
                </v-card-text>
                <v-card-actions>
                    <v-btn :loading="loading" type="submit" color="primary" block>Upload</v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
        }
    }
}
</script>