<template>
    <v-card>
        <v-card-title>
            <h3>{{frequency}}</h3>
        </v-card-title>
        <hr>
        <v-list>
            <v-list-item flat v-for="survey in surveys" :key="survey.id">
                <v-list-item-content>
                    {{ survey.name }}
                </v-list-item-content>
                <v-list-item-action>
                    <v-icon color="primary" @click="preview = survey">mdi-eye</v-icon>
                </v-list-item-action>
                <v-list-item-action>
                    <v-icon color="error" @click="$emit('remove', { survey, frequency })">mdi-delete</v-icon>
                </v-list-item-action>
            </v-list-item>
        </v-list>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="$emit('adding')" fab small color="primary">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </v-card-actions>
        <v-dialog v-model="previewModal">
            <SurveyPreview :survey="preview" cta-text="Close" @selected="preview = null" />
        </v-dialog>
    </v-card>
</template>

<script>
export default {
    props: ['frequency', 'surveys'],
    data() {
        return {
            preview: null
        }
    },
    computed: {
        previewModal: {
            get() {
                return this.preview != null
            },
            set() {
                this.preview = null
            }
        }
    }
}
</script>