<template>
    <v-card class="mb-2">
        <v-card-title>
            {{survey.name}}
        </v-card-title>
        <v-card-text v-if="survey.sections">
            <h3>Sections:</h3>
            <ol>
                <li v-for="section in survey.sections" :key="section.id">
                    {{section.name}}
                    <ul>
                        <li>{{section.description}}</li>
                    </ul>
                </li>
            </ol>
        </v-card-text>
        <v-card-actions>
            <v-btn @click="$emit('selected')" class="mr-2" color="primary">
                {{ctaText || 'Select'}}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        survey: {
            type: Object,
        },
        ctaText: {
            type: String,
        },
    }
}
</script>